spring:
  application:
    name: backQueerDataBase

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

jwt:
  secret: tonSuperSecretKeyQuiDoitEtreLonguePourEtreSecure123456789
  expiration: 86400000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    com.queerdatabase: DEBUG
    org.hibernate.SQL: DEBUG